Checks: '*,
         -clang-analyzer-optin.cplusplus.UninitializedObject,
         -fuchsia-default-arguments-calls,
         -fuchsia-overloaded-operator,
         -fuchsia-trailing-return,
         -fuchsia-default-arguments-declarations,
         -altera-id-dependent-backward-branch,
         -altera-unroll-loops,
         -altera-struct-pack-align,
         -android-cloexec-fopen,
         -bugprone-easily-swappable-parameters,
         -google-readability-function-size,
         -hicpp-function-size,
         -llvm-else-after-return,
         -llvm-header-guard,
         -llvm-include-order,
         -llvmlibc-*,
         -modernize-use-trailing-return-type,
         -misc-confusable-identifiers,
         -misc-no-recursion,
         -misc-non-private-member-variables-in-classes,
         -readability-else-after-return,
         -readability-static-definition-in-anonymous-namespace,
         -readability-function-cognitive-complexity,
         -readability-function-size'

CheckOptions:
  - key: hicpp-special-member-functions.AllowSoleDefaultDtor
    value: 1

HeaderFilterRegex: '.*hpp$'
