[vangogh-steam-deck]
desc = 'Valve Steam Deck'
class_ids = "0300"
vendor_ids = "1002"
device_ids = "1435 163f"
hwd_product_name_pattern = '(Jupiter|Galileo)'
priority = 6
packages = 'steamos-manager steamos-powerbuttond jupiter-fan-control steamdeck-dsp cachyos-handheld mesa lib32-mesa vulkan-radeon lib32-vulkan-radeon opencl-mesa lib32-opencl-mesa rocm-opencl-runtime'
conditional_packages = """
    if grep -q 'Galileo' /sys/devices/virtual/dmi/id/product_name; then
        echo 'galileo-mura'
    fi
"""
post_install = """
    echo "Steam Deck chwd installing..."
    services=("jupiter-fan-control")
    echo "Enabling services..."
    for service in ${services[@]}; do
        systemctl enable --now "${service}.service"
    done

    if [ -d /etc/limine-entry-tool.d ]; then
        cat << 'EOF' > /etc/limine-entry-tool.d/20-chwd.conf
KERNEL_CMDLINE[default]+="amd_iommu=off amdgpu.gttsize=8128 spi_amd.speed_dev=1 audit=0 iomem=relaxed amdgpu.ppfeaturemask=0xffffffff"
EOF
    fi
"""
post_remove = """
    echo "Steam Deck chwd removing..."
    services=("jupiter-fan-control")
    echo "Disabling services..."
    for service in ${services[@]}; do
        systemctl disable "${service}.service"
    done
    rm -f /etc/limine-entry-tool.d/20-chwd.conf
"""

[phoenix-rog-ally]
desc = 'ASUS ROG Ally & Ally X'
class_ids = "0300"
vendor_ids = "1002"
device_ids = "15bf 15c8"
hwd_product_name_pattern = '(ROG Ally).*'
priority = 6
packages = 'steamos-manager steamos-powerbuttond inputplumber cachyos-handheld mesa lib32-mesa vulkan-radeon lib32-vulkan-radeon opencl-mesa lib32-opencl-mesa rocm-opencl-runtime'
post_install = """
    echo "Ally chwd installing..."
    echo "Installing audio profile..."
    product_name="$(cat /sys/devices/virtual/dmi/id/product_name)"
    mkdir -p /etc/pipewire/pipewire.conf.d /etc/wireplumber/wireplumber.conf.d/
    ln -s /usr/share/cachyos-handheld/rog-ally/pipewire/filter-chain.conf \
        /etc/pipewire/pipewire.conf.d
    if [[ "$product_name" =~ RC71L ]]; then
        ln -s /usr/share/cachyos-handheld/rog-ally/wireplumber/alsa-card0.conf \
            /etc/wireplumber/wireplumber.conf.d
    else
        ln -s /usr/share/cachyos-handheld/rog-ally/wireplumber/alsa-card0-x.conf \
            /etc/wireplumber/wireplumber.conf.d
    fi
    ln -s /usr/share/cachyos-handheld/common/wireplumber/alsa-card1.conf \
        /etc/wireplumber/wireplumber.conf.d
"""
post_remove = """
    echo "Ally chwd removing..."
    echo "Removing audio profile..."
    rm -f /etc/pipewire/pipewire.conf.d/filter-chain.conf
    rm -f /etc/wireplumber/wireplumber.conf.d/alsa-card0{,-x}.conf
    rm -f /etc/wireplumber/wireplumber.conf.d/alsa-card1.conf
"""

[phoenix-legion-go]
desc = 'Lenovo Legion Go'
class_ids = "0300"
vendor_ids = "1002"
device_ids = "15bf"
hwd_product_name_pattern = '(83E1)'
priority = 6
packages = 'hhd hhd-ui adjustor cachyos-handheld mesa lib32-mesa vulkan-radeon lib32-vulkan-radeon opencl-mesa lib32-opencl-mesa rocm-opencl-runtime'
post_install = """
    echo "Legion go chwd installing..."
    username=$(id -nu 1000)
    services=("hhd@${username}")
    echo "Enabling services..."
    for service in ${services[@]}; do
        systemctl enable --now "${service}.service"
    done

    if [ -d /etc/limine-entry-tool.d ]; then
        cat << 'EOF' > /etc/limine-entry-tool.d/20-chwd.conf
KERNEL_CMDLINE[default]+="amdgpu.sg_display=0"
EOF
    fi
"""
post_remove = """
    echo "Legion go chwd removing..."
    username=$(id -nu 1000)
    services=("hhd@${username}")
    echo "Disabling services..."
    for service in ${services[@]}; do
        systemctl disable "${service}.service"
    done
    rm -f /etc/limine-entry-tool.d/20-chwd.conf
"""

[amd-legion-go-s]
desc = 'Lenovo Legion Go S'
class_ids = "0300"
vendor_ids = "1002"
device_ids = "1681 15bf"
hwd_product_name_pattern = '(83L3|83N6|83Q2|83Q3)'
priority = 6
packages = 'inputplumber steamos-manager steamos-powerbuttond cachyos-handheld mesa lib32-mesa vulkan-radeon lib32-vulkan-radeon opencl-mesa lib32-opencl-mesa rocm-opencl-runtime'
post_install = """
    if [ -d /etc/limine-entry-tool.d ]; then
        cat << 'EOF' > /etc/limine-entry-tool.d/20-chwd.conf
KERNEL_CMDLINE[default]+="amdgpu.sg_display=0"
EOF
    fi
"""
post_remove = """
    rm -f /etc/limine-entry-tool.d/20-chwd.conf
"""

[amd-xbox-rog-ally]
desc = 'ASUS XBox ROG Ally & Ally X'
class_ids = "0300 0380"
vendor_ids = "1002"
device_ids = "163f 150e"
hwd_product_name_pattern = '(RC73YA|RC73XA)'
priority = 6
packages = 'steamos-manager steamos-powerbuttond inputplumber cachyos-handheld mesa lib32-mesa vulkan-radeon lib32-vulkan-radeon opencl-mesa lib32-opencl-mesa'

[intel-msi-claw]
desc = 'MSI Claw Intel'
class_ids = "0300"
vendor_ids = "8086"
device_ids = "64a0 7d55"
hwd_product_name_pattern = '(A2VM|A1M)'
priority = 6
packages = 'inputplumber steamos-manager steamos-powerbuttond cachyos-handheld mesa lib32-mesa vulkan-intel lib32-vulkan-intel intel-media-driver'
post_install = """
    echo "Claw chwd installing..."
    echo msi-wmi-platform > /usr/lib/modules-load.d/chwd-msi-claw.conf
    echo "Installing audio profile..."
    mkdir -p /etc/wireplumber/wireplumber.conf.d
    ln -s /usr/share/cachyos-handheld/msi-claw/wireplumber/alsa-card0.conf \
        /etc/wireplumber/wireplumber.conf.d
"""
post_remove = """
    echo "Claw chwd removing..."
    rm -f /usr/lib/modules-load.d/chwd-msi-claw.conf
    echo "Removing audio profile..."
    rm -f /etc/wireplumber/wireplumber.conf.d/alsa-card0.conf
"""
