[handheld]
desc = 'Generic handheld profile'
class_ids = "0601"
hwd_product_name_pattern= '83E1|83L3|83N6|83Q2|83Q3|83N0|83N1|AIR|AOKZOE|AYANEO|AYA NEO FOUNDER|A2VM|A1M|BZ2EM|FLIP 1S DS|FLIP DS|FLIP KB|G1617-01|G1618-03|G1618-04|G1618-05|G1619-04|Galileo|GEEK|Jupiter|Loki Max|Loki MiniPro|Loki Zero|NEO-01|NEXT|ONE XPLAYER|ONEXPLAYER|SLIDE|Win600|RC71L|RC73YA|RC72LA|RC73XA'
priority = 1
packages = 'steamos-manager inputplumber steamos-powerbuttond cachyos-handheld'

[handheld.steam-deck]
desc = 'Valve Steam Deck'
hwd_product_name_pattern = '(Jupiter|Galileo)'
priority = 2
packages = 'steamos-manager steamos-powerbuttond cachyos-handheld jupiter-fan-control steamdeck-dsp'
conditional_packages = """
    if grep -q 'Galileo' /sys/devices/virtual/dmi/id/product_name; then
        echo 'galileo-mura'
    fi
"""
post_install = """
    echo "Steam Deck chwd installing..."
    services=("jupiter-fan-control")
    echo "Enabling services..."
    for service in ${services[@]}; do
        systemctl enable --now "${service}.service"
    done
"""
post_remove = """
    echo "Steam Deck chwd removing..."
    services=("jupiter-fan-control")
    echo "Disabling services..."
    for service in ${services[@]}; do
        systemctl disable "${service}.service"
    done
"""

[handheld.rog-ally]
desc = 'ASUS ROG Ally & Ally X'
hwd_product_name_pattern = 'RC71L|RC72LA'
priority = 2
post_install = """
    echo "Ally chwd installing..."
    echo "Installing audio profile..."
    product_name="$(cat /sys/devices/virtual/dmi/id/product_name)"
    mkdir -p /etc/pipewire/pipewire.conf.d /etc/wireplumber/wireplumber.conf.d/
    ln -s /usr/share/cachyos-handheld/rog-ally/pipewire/filter-chain.conf \
        /etc/pipewire/pipewire.conf.d
    if [[ "$product_name" =~ RC71L ]]; then
        ln -s /usr/share/cachyos-handheld/rog-ally/wireplumber/alsa-card0.conf \
            /etc/wireplumber/wireplumber.conf.d
    else
        ln -s /usr/share/cachyos-handheld/rog-ally/wireplumber/alsa-card0-x.conf \
            /etc/wireplumber/wireplumber.conf.d
    fi
    ln -s /usr/share/cachyos-handheld/common/wireplumber/alsa-card1.conf \
        /etc/wireplumber/wireplumber.conf.d
"""
post_remove = """
    echo "Ally chwd removing..."
    echo "Removing audio profile..."
    rm -f /etc/pipewire/pipewire.conf.d/filter-chain.conf
    rm -f /etc/wireplumber/wireplumber.conf.d/alsa-card0{,-x}.conf
    rm -f /etc/wireplumber/wireplumber.conf.d/alsa-card1.conf
"""

[handheld.intel-msi-claw]
desc = 'MSI Claw Intel'
hwd_product_name_pattern = '(A2VM|A1M)'
priority = 2
post_install = """
    echo "Claw chwd installing..."
    echo msi-wmi-platform > /usr/lib/modules-load.d/chwd-msi-claw.conf
    echo "Installing audio profile..."
    mkdir -p /etc/wireplumber/wireplumber.conf.d
    ln -s /usr/share/cachyos-handheld/msi-claw/wireplumber/alsa-card0.conf \
        /etc/wireplumber/wireplumber.conf.d
"""
post_remove = """
    echo "Claw chwd removing..."
    rm -f /usr/lib/modules-load.d/chwd-msi-claw.conf
    echo "Removing audio profile..."
    rm -f /etc/wireplumber/wireplumber.conf.d/alsa-card0.conf
"""
