# chwd has a sequential search for the desired profile. First it goes through
# all class_ids that indicate a device type, like GPU or network adapter. Then
# the profile specifies which manufacturer's driver we need via vendor_id,
# after which chwd select specific device in device_id or device_pattern, which
# is how much wider and includes devices of the same generation. For example:
#
# Searched for 3D controllers
# class_ids = "0302"
#
# Filters only NVIDIA GPUs
# vendor_ids = "10de"
#
# A certain device or set of ids:
# device_ids = "25a2"
#
# Or set of devices depending on the generation:
# device_name_pattern = '(AD)\w+'

[nvidia-open-dkms]
desc = 'Open source NVIDIA drivers for Linux (Latest)'
class_ids = "0300 0302 0380"
vendor_ids = "10de"
device_ids = "*"
priority = 10
packages = 'nvidia-utils egl-wayland nvidia-settings opencl-nvidia lib32-opencl-nvidia lib32-nvidia-utils libva-nvidia-driver vulkan-icd-loader lib32-vulkan-icd-loader'
conditional_packages = """
    kernels="$(pacman -Qqs "^linux-cachyos")"
    packages=""

    for kernel in $kernels; do
        case "$kernel" in
            *-nvidia-open|*-nvidia) modules+=" ${kernel}";;
            *-headers|*-zfs|*-nvidia|*-dbg);;
            *) packages+=" ${kernel}-nvidia-open";;
        esac
    done

    # Fallback if there are no kernels with pre-built modules
    [ -z "$packages" ] && packages="nvidia-open-dkms"

    # Trying to determine the laptop
    device_type="$(cat /sys/devices/virtual/dmi/id/chassis_type)"
    if ((device_type >= 8 && device_type <= 11)); then
        packages+=" nvidia-prime switcheroo-control"
    fi

    echo "$packages"

"""
pre_install = """
    cat <<EOF >/etc/mkinitcpio.conf.d/10-chwd.conf
# This file is automatically generated by chwd. PLEASE DO NOT EDIT IT.
MODULES+=(nvidia nvidia_modeset nvidia_uvm nvidia_drm)
EOF
"""
post_install = """
    # Trying to determine the laptop
    device_type="$(cat /sys/devices/virtual/dmi/id/chassis_type)"
    if ((device_type >= 8 && device_type <= 11)); then
        # nvidia-powerd is not supported by Turing GPUs
        if ! lspci -d "10de:*:030x" -vm | grep -q 'Device:\\tTU.*'; then
            systemctl enable nvidia-powerd
        fi

        systemctl enable switcheroo-control

        cat << 'EOF' >/etc/profile.d/nvidia-rtd3-workaround.sh
# This file is automatically generated by chwd. PLEASE DO NOT EDIT IT.
if [ -n "$(lspci -d "10de:*:0302")" ]; then
    export __EGL_VENDOR_LIBRARY_FILENAMES=/usr/share/glvnd/egl_vendor.d/50_mesa.json
fi
EOF

        cat << 'EOF' | install -Dm755 /dev/stdin /usr/lib/systemd/user-environment-generators/20-nvidia-rtd3-workaround
#!/usr/bin/env sh
# This file is automatically generated by chwd. PLEASE DO NOT EDIT IT.
if [ -n "$(lspci -d "10de:*:0302")" ]; then
    echo "__EGL_VENDOR_LIBRARY_FILENAMES=/usr/share/glvnd/egl_vendor.d/50_mesa.json"
fi
EOF

    else
        # Add libva-nvidia-driver to profile
        echo "export LIBVA_DRIVER_NAME=nvidia" > /etc/profile.d/nvidia-vaapi.sh
    fi
"""
pre_remove = """
    rm -f /etc/mkinitcpio.conf.d/10-chwd.conf
"""
post_remove = """
    rm -f /etc/profile.d/nvidia-vaapi.sh
    rm -f /etc/profile.d/nvidia-rtd3-workaround.sh
    rm -f /usr/lib/systemd/user-environment-generators/20-nvidia-rtd3-workaround
"""

[nvidia-dkms]
desc = 'Closed source NVIDIA drivers for Linux (Latest)'
class_ids = "0300 0302 0380"
vendor_ids = "10de"
priority = 12
packages = 'nvidia-utils egl-wayland nvidia-settings opencl-nvidia lib32-opencl-nvidia lib32-nvidia-utils libva-nvidia-driver vulkan-icd-loader lib32-vulkan-icd-loader'
device_ids = '>/var/lib/chwd/ids/nvidia-latest-closed.ids'
conditional_packages = """
    kernels="$(pacman -Qqs "^linux-cachyos")"
    packages=""

    for kernel in $kernels; do
        case "$kernel" in
            *-headers|*-zfs|*-nvidia-open|*-dbg);;
            *-nvidia) packages+=" ${kernel}";;
            *) packages+=" ${kernel}-nvidia";;
        esac
    done

    # Fallback if there are no kernels with pre-built modules
    [ -z "$packages" ] && packages="nvidia-dkms"


    # Trying to determine the laptop
    device_type="$(cat /sys/devices/virtual/dmi/id/chassis_type)"
    if ((device_type >= 8 && device_type <= 11)); then
        packages+=" nvidia-prime switcheroo-control"
    fi

    echo "$packages"

"""
pre_install = """
    cat <<EOF >/etc/mkinitcpio.conf.d/10-chwd.conf
# This file is automatically generated by chwd. PLEASE DO NOT EDIT IT.
MODULES+=(nvidia nvidia_modeset nvidia_uvm nvidia_drm)
EOF
"""
post_install = """
    # Trying to determine the laptop
    device_type="$(cat /sys/devices/virtual/dmi/id/chassis_type)"
    if ((device_type >= 8 && device_type <= 11)); then
        systemctl enable switcheroo-control

        cat << 'EOF' >/etc/profile.d/nvidia-rtd3-workaround.sh
# This file is automatically generated by chwd. PLEASE DO NOT EDIT IT.
if [ -n "$(lspci -d "10de:*:0302")" ]; then
    export __EGL_VENDOR_LIBRARY_FILENAMES=/usr/share/glvnd/egl_vendor.d/50_mesa.json
fi
EOF

        cat << 'EOF' | install -Dm755 /dev/stdin /usr/lib/systemd/user-environment-generators/20-nvidia-rtd3-workaround
#!/usr/bin/env sh
# This file is automatically generated by chwd. PLEASE DO NOT EDIT IT.
if [ -n "$(lspci -d "10de:*:0302")" ]; then
    echo "__EGL_VENDOR_LIBRARY_FILENAMES=/usr/share/glvnd/egl_vendor.d/50_mesa.json"
fi
EOF

    else
        # Add libva-nvidia-driver to profile
        echo "export LIBVA_DRIVER_NAME=nvidia" > /etc/profile.d/nvidia-vaapi.sh
    fi
"""
pre_remove = """
    rm -f /etc/mkinitcpio.conf.d/10-chwd.conf
"""
post_remove = """
    rm -f /etc/profile.d/nvidia-vaapi.sh
    rm -f /etc/profile.d/nvidia-rtd3-workaround.sh
    rm -f /usr/lib/systemd/user-environment-generators/20-nvidia-rtd3-workaround
"""

[nvidia-dkms-470xx]
desc = 'Closed source NVIDIA drivers for Linux (470xx branch, only for Kepler GPUs)'
priority = 14
class_ids = "0300 0302 0380"
vendor_ids = "10de"
device_ids = '>/var/lib/chwd/ids/nvidia-470.ids'
packages = 'nvidia-470xx-dkms nvidia-470xx-utils nvidia-470xx-settings opencl-nvidia-470xx vulkan-icd-loader lib32-nvidia-470xx-utils lib32-opencl-nvidia-470xx lib32-vulkan-icd-loader libva-nvidia-driver linux-firmware-nvidia'
conditional_packages = """
    # Trying to determine the laptop
    packages=""
    device_type="$(cat /sys/devices/virtual/dmi/id/chassis_type)"
    if ((device_type >= 8 && device_type <= 11)); then
        packages+=" nvidia-prime switcheroo-control"
    fi

    if pacman -Qqs plasma-desktop &>/dev/null; then
        packages+=" plasma-x11-session"
    fi

    echo "$packages"
"""
post_install = """
    # Trying to determine the laptop
    device_type="$(cat /sys/devices/virtual/dmi/id/chassis_type)"
    if ((device_type >= 8 && device_type <= 11)); then
        systemctl enable switcheroo-control
    else
        # Add libva-nvidia-driver to profile
        echo "export LIBVA_DRIVER_NAME=nvidia" > /etc/profile.d/nvidia-vaapi.sh
    fi
    mkdir -p /etc/sddm.conf.d
    cat << EOF >/etc/sddm.conf.d/01-wayland.conf
# THIS IS A OVERRIDE GENERATED BY CHWD TO OVERRIDE THE CACHYOS-KDE-SETTINGS PACKAGE, DO NOT TOUCH.
[General]
DisplayServer=x11
EOF
"""
post_remove = """
    rm -f /etc/profile.d/nvidia-vaapi.sh
    rm -f /etc/sddm.conf.d/01-wayland.conf
"""

[nvidia-dkms-390xx]
desc = 'Closed source NVIDIA drivers for Linux (390xx branch, only for Fermi GPUs)'
priority = 16
vendor_ids = "10de"
class_ids = "0300 0302 0380"
packages = 'nvidia-390xx-dkms  nvidia-390xx-utils nvidia-390xx-settings opencl-nvidia-390xx lib32-nvidia-390xx-utils lib32-opencl-nvidia-390xx'
device_ids = '>/var/lib/chwd/ids/nvidia-390.ids'
conditional_packages = """
    if pacman -Qqs plasma-desktop &>/dev/null; then
        echo "plasma-x11-session"
    fi
"""
post_install = """
    mkdir -p /etc/sddm.conf.d
    cat << EOF >/etc/sddm.conf.d/01-wayland.conf
# THIS IS A OVERRIDE GENERATED BY CHWD TO OVERRIDE THE CACHYOS-KDE-SETTINGS PACKAGE, DO NOT TOUCH.
[General]
DisplayServer=x11
EOF
"""
post_remove = """
    rm -f /etc/sddm.conf.d/01-wayland.conf
"""

[nouveau]
desc = "Open Nouveau driver for NVIDIA graphics cards (Only for old GPUs)"
class_ids = "0300 0302"
vendor_ids = "10de"
device_ids = '>/var/lib/chwd/ids/nouveau.ids'
priority = 18
packages = 'mesa lib32-mesa vulkan-nouveau linux-firmware-nvidia'
conditional_packages = """
if [ -z "$(lspci -d "10de:*:030x")" ]; then
    echo "opencl-mesa lib32-opencl-mesa"
fi
"""
post_install = """
if [ -z "$(lspci -d "10de:*:030x")" ]; then
    # Force the use of Rusticl, otherwise it will be just a stub
    echo "export RUSTICL_ENABLE=nouveau" > /etc/profile.d/opencl.sh
    mkdir -p /etc/environment.d
    echo "RUSTICL_ENABLE=nouveau" > /etc/environment.d/30-opencl.conf
fi
"""
post_remove = """
rm -f /etc/profile.d/opencl.sh
rm -f /etc/environment.d/30-opencl.conf
"""

[intel]
desc = "Mesa open source driver for Intel"
class_ids = "0300 0302"
vendor_ids = "8086"
device_ids = "*"
priority = 4
packages = 'mesa lib32-mesa vulkan-intel lib32-vulkan-intel gst-plugin-va linux-firmware-intel'
conditional_packages = """
pkgs=""
if [ -z "$(lspci -d "10de:*:030x")" ]; then
    pkgs+="opencl-mesa lib32-opencl-mesa"
fi

device_id="$(lspci -d "8086:*:030x" -n | cut -d" " -f3 | cut -d":" -f2 | head -n1)"
if grep -q "$device_id" /var/lib/chwd/ids/intel-vaapi.ids 2>/dev/null; then
    pkgs+=" libva-intel-driver-irql"
else
    pkgs+=" intel-media-driver"
fi

echo "$pkgs"
"""
post_install = """
if [ -z "$(lspci -d "10de:*:030x")" ]; then
    # Force the use of Rusticl, otherwise it will be just a stub
    echo "export RUSTICL_ENABLE=iris" > /etc/profile.d/opencl.sh
    mkdir -p /etc/environment.d
    echo "RUSTICL_ENABLE=iris" > /etc/environment.d/30-opencl.conf
fi
"""
post_remove = """
rm -f /etc/profile.d/opencl.sh
rm -f /etc/environment.d/30-opencl.conf
"""

[amd]
desc = "Mesa open source driver for AMD"
class_ids = "0300 0302 0380"
vendor_ids = "1002"
device_ids = "*"
priority = 4
packages = 'mesa lib32-mesa vulkan-radeon lib32-vulkan-radeon xf86-video-amdgpu gst-plugin-va linux-firmware-amdgpu'
conditional_packages = """
if [ -z "$(lspci -d "10de:*:030x")" ]; then
    echo "opencl-mesa lib32-opencl-mesa"
fi
"""
post_install = """
if [ -z "$(lspci -d "10de:*:030x")" ]; then
    # Force the use of Rusticl, otherwise it will be just a stub
    echo "export RUSTICL_ENABLE=radeonsi" > /etc/profile.d/opencl.sh
    mkdir -p /etc/environment.d
    echo "RUSTICL_ENABLE=radeonsi" > /etc/environment.d/30-opencl.conf
fi
"""
post_remove = """
rm -f /etc/profile.d/opencl.sh
rm -f /etc/environment.d/30-opencl.conf
"""

[fallback]
desc = 'Fallback profile'
class_ids = "0300 0380 0302"
vendor_ids = "1002 8086 10de"
device_ids = "*"
priority = 3
packages = 'mesa lib32-mesa vulkan-swrast xf86-video-vesa'

[virtualmachine]
desc = 'X.org vmware video driver and open-vm-tools/virtualbox tools'
class_ids = "0300"
# Virtualbox version 6.0 uses VMSVGA on Linux guests by default, which has VMWare's VENDORID.
# VENDOR VMWare=80ee Virtualbox=15AD Redhat(QXL)=1af4 Redhat(VirtIO)=1b36 cirrus=1013
vendor_ids = "80ee 15AD 1af4 1b36 1013 1234"
device_ids = "*"
priority = 5
packages = 'virtualbox-guest-utils open-vm-tools xf86-input-vmmouse spice-vdagent qemu-guest-agent vulkan-virtio gtkmm3'
post_install = """
    if [ "$(systemd-detect-virt)" = "oracle" ]; then
        # Virtualbox detected

        # Load kernel modules and sync clock
        systemctl enable --now --no-block vboxservice.service
    else

        if [ "$(systemd-detect-virt)" = "vmware" ]; then
            # Vmware detected
            systemctl enable --now --no-block vmtoolsd.service
        else
            cat <<EOF >/etc/mkinitcpio.conf.d/10-chwd.conf
# This file is automatically generated by chwd. PLEASE DO NOT EDIT IT.
MODULES+=(virtio virtio_blk virtio_pci virtio_net)
EOF
            mkinitcpio -P
        fi
    fi
    if [ -e /etc/gdm/custom.conf ]; then
        sed -i -e 's|#WaylandEnable=false|WaylandEnable=false|g' /etc/gdm/custom.conf
    fi"""
pre_remove = """
    rm -f /etc/mkinitcpio.conf.d/10-chwd.conf
"""
post_remove = """
    if [ "$(systemd-detect-virt)" = "oracle" ]; then
        # Virtualbox detected
        systemctl disable --now vboxservice.service
    elif [ "$(systemd-detect-virt)" = "vmware" ]; then
        # Vmware detected
        systemctl disable --now vmtoolsd.service
    fi"""
