name: Lua tests

on:
  push:
    paths-ignore:
      - 'LICENSE'
      - '*.md'
      - '*.sh'
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  sile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Busted
        uses: lunarmodules/busted@v2.2.0
        with:
          args: --no-keep-going
